@font-face {
	font-family: 'Geometria';
	font-display: swap;
	src: url('geometria.ttf') format('ttf');
	font-weight: 400;
	font-style: normal
}
@font-face {
	font-family: 'Geometria';
	font-display: swap;
	src: url('geometria-medium.ttf') format('ttf');
	font-weight: 500;
	font-style: normal
}
@font-face {
	font-family: 'Geometria';
	font-display: swap;
	src: url('geometria-bold.ttf') format('ttf');
	font-weight: 700;
	font-style: normal
}